.round-img {
    border-radius: 50%;
}
table {
    display: flex;
    justify-content: center;
    width: 100%; 
    background-color: #009e91;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}
td, th {
    text-align: center;
}
